<h1><%= @drink.name %></h1>
<p>Price: $<%= sprintf( “%0.02f”, @drink.price) %></p>
<%= form_for @store, :url => store_create_menu_item_from_drink_path(@drink) do |f| %>
 <%= f.collection_select(:id, Store.all, :id, :location) %>
 <%= f.submit “Add to Store” %>
<% end %>
<%= link_to “Back to Drinks”, drinks_path %>